@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p { margin-bottom: 1em; }

body>header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	padding: 2rem 10px;
	background-color: #fff;
	box-shadow: 0 1px 3px 1px rgba(60,64,67,.16);
}

body>header .logo {
	text-align: center;
}

body>header nav {
	max-width: 1200px;
	margin: 0 auto;
}

body>header nav ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

body>header nav ul li {
	width: 100%;
	text-align: center;
	list-style: none;
}

body>header nav ul li a {
	display: inline-block;
	text-decoration: none;
	padding: 5px 10px;
}

body>header nav ul li a:active,
body>header nav ul li a:focus,
body>header nav ul li a:active:focus {
	color: inherit;
	font-weight: 700;
}
		
body>.banner {
	width: 100%;
	height: 250px;
	margin-bottom: 2rem;
	overflow: hidden;
	background-image: url(https://via.placeholder.com/1600x400.png?text=WordPress+Design);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

body>header nav ul li a.active {
	box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
}

body>main {
	max-width: 800px;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

body>main>h2 {
	margin-bottom: 0;
}

body>main a.button {
	display: inline-block;
	margin: 1rem;
	padding: 10px 30px;
	border: 1px solid #ccc;
	text-decoration: none;
}

body>main>.flex>article {
	background-color: #fff;
	margin: 2rem 10px;
	padding: 1rem 0;
	text-align: center;
}

body>main>.flex>article header,
body>main>.flex>article main,
body>main>.flex>article footer {
	margin: 0 1rem;
	padding: 1rem 0;
}

body>main>.flex>article header {
	position: relative;
}

body>main>.flex>article header p.blog-category,
body>.banner>p.blog-category {
	position: absolute;
    display: inline-block;
    word-break: keep-all;
    padding: 3px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

body>main>.flex>article header p.blog-category a,
body>.banner>p.blog-category a,
body>aside ul li a,
body>main>.flex>article footer a.blog-tag {
	text-decoration: none;
}

body>main>.flex>article header p.blog-category {
	bottom: 2rem;
	right: 1rem;
}

body>.banner>p.blog-category {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

body>main>.flex>article header h2,
body>footer h3 {
	margin-bottom: 0.2em;
}

body>main>.flex>article header img {
	max-width: 100%;
	height: auto;
	margin-top: 1em;
}

body>main>.flex>article footer a.blog-tag {
	display: inline-block;
	word-break: keep-all;
	padding: 3px 10px;
	border: 1px solid #ccc;
	margin: 5px 0;
}

body>main>.flex>article hr {
	margin: 1rem 0;
}

body>main>.flex>article header>p:last-child,
body>main>.flex>article main>p:last-child,
body>main>.flex>article footer>p:last-child {
	margin: 0;
}

body>aside {
	max-width: 800px;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

body>aside ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

body>aside ul li {
	display: inline-block;
	word-break: keep-all;
	padding: 3px 10px;
	margin: 5px .5rem;
	border: 1px solid #ccc;
	list-style: none;
}

.shadow {
	box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
}

body>footer {
	padding: 1rem 10px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 -1px 3px 1px rgba(60,64,67,.16);
}

body>footer p:last-child {
	margin: 0;
}

@media all and (min-width: 801px) {
	body>main>.flex {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
	}

	body>main>.flex>article {
		width: 45%;
	}

	body.single>main>.flex>article {
		width: 100%;
	}

	body>header nav ul {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	body>header nav ul li {
		width: auto;
	}
}
